body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #555555;
    margin: 0;
    padding: 0;
    
}

#container {
    width: 300px;
    margin: 100px auto; /* Centraliza horizontalmente */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#login, #cadastra {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0a0909;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h5 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
